@import "tailwindcss";

/* ANSI styling classes */
.ansi-1 {
    font-weight: 700;
    text-decoration: none;
  }
  .ansi-4 {
    font-weight: 500;
    text-decoration: underline;
  }
  
  .ansi-30 {
    color: #4f545c;
  }
  .ansi-31 {
    color: #dc322f;
  }
  .ansi-32 {
    color: #859900;
  }
  .ansi-33 {
    color: #b58900;
  }
  .ansi-34 {
    color: #268bd2;
  }
  .ansi-35 {
    color: #d33682;
  }
  .ansi-36 {
    color: #2aa198;
  }
  .ansi-37 {
    color: #ffffff;
  }
  
  .ansi-30-bg {
    background-color: #4f545c;
  }
  .ansi-31-bg {
    background-color: #dc322f;
  }
  .ansi-32-bg {
    background-color: #859900;
  }
  .ansi-33-bg {
    background-color: #b58900;
  }
  .ansi-34-bg {
    background-color: #268bd2;
  }
  .ansi-35-bg {
    background-color: #d33682;
  }
  .ansi-36-bg {
    background-color: #2aa198;
  }
  .ansi-37-bg {
    background-color: #ffffff;
  }
  
  .ansi-40 {
    background-color: #002b36;
  }
  .ansi-41 {
    background-color: #cb4b16;
  }
  .ansi-42 {
    background-color: #586e75;
  }
  .ansi-43 {
    background-color: #657b83;
  }
  .ansi-44 {
    background-color: #839496;
  }
  .ansi-45 {
    background-color: #6c71c4;
  }
  .ansi-46 {
    background-color: #93a1a1;
  }
  .ansi-47 {
    background-color: #fdf6e3;
  }